head {
    text-align: center;
    align-content: center;
}
body {
    text-align: center;
    align-content: center;
    color: rgb(142, 151, 255);
    background: url(background.png);
    font-size: larger;
}
a:hover {
    color: crimson;
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: rgb(100, 205, 237);
}
